<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305183755879-g4nj6idc9h9btj97tv1nvalrqc9761k3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305183755879-g4nj6idc9h9btj97tv1nvalrqc9761k3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>305183755879-v8tqc50ou5l1sqcbnuf374k5v6mog7ho.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAG01_-oVXXYv-_4cEztYjIzJ0JZm3pdvM</string>
	<key>GCM_SENDER_ID</key>
	<string>305183755879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.peakacard</string>
	<key>PROJECT_ID</key>
	<string>peak-a-card</string>
	<key>STORAGE_BUCKET</key>
	<string>peak-a-card.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305183755879:ios:6c2be119ce72688c858ec2</string>
	<key>DATABASE_URL</key>
	<string>https://peak-a-card.firebaseio.com</string>
</dict>
</plist>